@import "tailwindcss";

@layer base {
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #root {
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Montserrat', 'Arial', sans-serif;
    }
}